<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://tasktrackerfunction20240218230005.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/8b5c630a-aae6-468d-98df-47551225b49a/resourcegroups/MyResourceGroup/providers/Microsoft.Web/sites/TaskTrackerFunction20240218230005</ResourceId>
    <UserName>$TaskTrackerFunction20240218230005</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://tasktrackerfunction20240218230005.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>